body, html {
    height: 100%;
    margin: 0;
  }
  
.bgimg {
    background-color: #4fc3f7;
    height: 100%;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
}
  
.middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}